.static-width{
    width: 5000px;
    height: 6000px;
    background-color: #606060;
    background-image: url(http://placekitten.com/200/300);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 3000px;
}


